input {
	border: 0;
	border-radius: 7px;
	width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
	padding: 5px 5px 5px 5px;
}

#username {
	font-weight: bold;
}

.prompt {
	width: 100%;
	border-radius: 5px;
	border: 1px solid grey;
}

.chatwindow {
	width: 50%;
	height: 20em;
	margin: 0 auto;
	border: 2px solid grey;
	border-radius: 7px;
	padding: 5px 5px 5px 5px;
	line-height: 1.5;
	text-align: left;
	background-color: white;
	overflow: auto;
	font-family: calibri, serif;
	box-shadow: 0px 0px 5px grey;
}

