/*body {
	text-align: center;
	background-image: url('../images/squared_metal.png');
}

span { //for username display
	font-weight: bold;
}

div {
	font-family: calibri, sans-serif;
}
*/
input {
	/*border: 2px solid grey;*/
	border: 0;
	border-radius: 7px;
	width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
	padding: 5px 5px 5px 5px;
}
/*
li {
	padding-left: 1em;
	text-indent: -1em;
	line-height: 1.5em;
}
*/

#username {
	font-weight: bold;
}

.prompt {
	/*background-color: #b2b2b2;*/
	width: 100%;
	/*margin: 2px;*/
	border-radius: 5px;
	border: 1px solid grey;
}
/*
.prompt tr td:first-child {
	width: 3em;
}

input {
	width: 95%;
	border: 0px solid white;
}
*/
.chatwindow {
	width: 50%;
	height: 20em;
	margin: 0 auto;
	border: 2px solid grey;
	border-radius: 7px;
	padding: 5px 5px 5px 5px;
	line-height: 1.5;
	text-align: left;
	background-color: white;
	overflow: auto;
	font-family: calibri, serif;
	box-shadow: 0px 0px 5px grey;
}
/*
.footer {
	margin-top: 20px;
}

.matches { //the match table
	width: 90%;
	margin: 0 auto;
	table-layout: fixed;
	border-spacing: 1.5em;
}
.matches td {
	padding: 1.5%;
	vertical-align: top;
	border: 4px solid #3780cf;
	background-color: #68a4e7;
	cursor: pointer;
}

.aboutTable {
	width: 90%;
	margin: 0 auto;
	table-layout: fixed;
	border-spacing: 2em;
}

.aboutTable td {
	padding: 1%;
	vertical-align: top;
	border: 4px solid #3780cf;
	background-color: #68a4e7;
}

.email {
	font-family: Courier, sans-serif;
	text-align: left;
	padding-bottom: 10px;
	font-weight: bold;
}

.percentage {
	width: 0%;
	background-color: #3780cf;

}

.bar {
	width: 100%;
	font-size: .9em;
	color: white;
	font-family: calibri, serif;
	border: 1px solid white;
	text-align: left;
	
}

.snippet {
	font-size: .9em;
	width: 85%;
	text-align: left;
	margin-left: 10%;
	line-height: 1.5;
	margin-top: 5px;
	margin-bottom: 5px;
}

.aboutus {
	text-align: left;
	padding: 10px;
	font-size: .9em;

}

#logo {
	width: 30%;
	margin-top: 10px;
}

#concept {
	width: 25%;
}

#meet {
	width: 50%;
	margin-top: 15px;
	margin-bottom: 0px;
}

#diag {
	width: 50%;
	margin-top: 10px;
	background-color: rgba(255,255,255,0.1);
	border: 2px solid grey;
	border-radius: 5px;
}

#face {
	width: 60%;
	margin-top: 15px;
	margin-bottom: 10px;
}
*/
